.devpage {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black;
  background-image: url("../images/desktop-anim.gif");
  background-position: center;
  width: 100vw;
  height: 100dvh;
  max-height: 100dvh;
  display: flex;

  & .container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: "Playfair", serif;
    font-size: clamp(42px, 8vw, 100px);
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    line-height: 1.1;
    text-shadow: 0px 0px 15px $black;
    text-align: center;
  }
}

@media screen and (max-width: 968px) {
  .devpage {
    background-position: right;

		& .container {
			padding-top: 50px;
		}
  }
}
