@keyframes headerScroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:not(.header-blur) {
    background-color: $white;
  }

  &.scrolled {
    position: fixed;
    animation: headerScroll 1s forwards;

    @media screen and (max-width: 968px) {
      animation: none;
    }
  }

  &__inner {
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &-close {
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
    opacity: 0;
    visibility: collapse;
    transform: scale(0);
    left: 4px !important;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }

  &-burger {
    transition: transform 0.2s ease, visibility 0.2s ease, opacity 0.2s ease;

    &.hidden {
      transform: scale(0);
      visibility: collapse;
      opacity: 0;
    }
  }

  &__burger {
    display: block;
    position: relative;
    width: 25px;
    height: 20px;
    z-index: 4;

    & svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    & svg path {
      fill: url("#burger-gradient");
    }

    &:hover svg defs stop {
      &:first-child {
        stop-color: #7776ff;
      }

      &:last-child {
        stop-color: #ae2cf1;
      }
    }
  }

  &-center {
    @media screen and (min-width: 968px) {
      & .header {
        &__logo {
          position: relative;
          left: auto;
          top: auto;
          transform: none;
        }

        &__burger_wrapper {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 4;
        }

        &__nav_link {
          &.empty {
            display: block;
          }

          &:nth-last-child(-n + 2) {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__logo {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    & svg path {
      &:nth-child(23),
      &:nth-child(13),
      &:nth-child(10),
      &:nth-child(8),
      &:nth-child(7),
      &:nth-child(5),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(21),
      &:nth-child(18),
      &:nth-child(16) {
        fill: url("#logo-gradient");
      }
    }

    &:hover svg defs stop {
      &:first-child {
        stop-color: #7776ff;
      }

      &:last-child {
        stop-color: #ae2cf1;
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__lang {
    &_link {
      font-size: 18px;
      position: relative;

      &:hover {
        background: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.active {
        background: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        &:before {
          position: absolute;
          content: "";
          width: 6px;
          height: 2px;
          background: $gradient;
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &_sep {
      color: #e0e0e0;
    }
  }

  &__hire {
    margin-left: 60px;
  }

  &-menu {
    display: none;
  }
}

.header__nav {
  @media screen and (min-width: 768px) {
    position: absolute;
    height: 100%;
    background-color: $white;
    left: 49.5%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    gap: 40px;
  }

  &_link {
    text-transform: uppercase;
    color: $black;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.04em;
    white-space: nowrap;
    position: relative;

    &.empty {
      display: none;
      width: 40px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      background: $gradient;
      transition: width 0.2s ease;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
    }

    &::before {
      top: -15px;
    }

    &::after {
      bottom: -15px;
    }

    &:hover {
      background: $gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before,
      &::after {
        width: 30px;
      }
    }
  }
}

.header-blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &,
  & + .title-wrapper {
    background: rgba(96, 96, 96, 0.3);
    backdrop-filter: blur(6px);
  }

  @media screen and (max-width: 968px) {
    &:has(.header-menu--active) {
      & .header {
        &__logo {
          & svg path {
            fill: $black;
          }
        }

        &-menu {
          & .header__nav {
            &_link {
              color: $black;
            }
          }
        }

        &__burger {
          & svg path {
            fill: $black;
          }
        }
      }
    }
  }

  & .header {
    &__hire {
      & .button-default {
        background-color: $white;
        color: $black;

        &:hover {
          color: $white;
        }
      }
    }

    &__lang {
      & a {
        color: $white;
      }
    }

    &__nav {
      background-color: transparent;

      &_link {
        transition: color 0.3s ease;
        color: $white;
      }
    }

    &__logo {
      & svg path {
        fill: $white;
      }
    }

    &__burger {
      & svg path {
        fill: $white;
      }
    }
  }

  & + .title-wrapper {
    & .title-link svg {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(47deg) brightness(107%) contrast(101%);
    }

    & .title {
      color: $white;
    }
  }
}

@media screen and (max-width: 1500px) {
  .header {
    &__nav {
      width: 103%;
      gap: 30px;
    }
  }
}

@media screen and (max-width: 968px) {
  .header {
    position: fixed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &__inner {
      padding: 16px 0;
    }

    &__nav {
      gap: 15px;

      &_link {
        font-size: 16px;
      }
    }

    &__burger {
      width: 24px;
      height: 24px;
    }

    &-burger {
      width: 21px;
      height: auto;
      top: 3px !important;
    }

    &-close {
      width: 16px;
      height: 16px;
      top: 3px !important;
      left: 3px !important;
    }

    &__logo {
      width: 135px;
      height: 20px;
    }

    &__hire {
      margin-left: 20px;

      .button-default {
        font-size: 14px;
        padding: 12px 24px;
        min-width: auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body:has(.single-page) .header {
    display: none;
  }

  .header {
    &__block {
      display: none;
    }

    &__logo {
      z-index: 4;
    }

    &__inner {
      & .header__nav {
        display: none;
      }
    }
  }

  .header-menu {
    display: flex;
    position: fixed;
    inset: 0;
    background-color: $white;
    will-change: transform;
    height: 100dvh;
    transform: translateX(-100%);
    visibility: collapse;
    transition: transform 0.3s ease-in-out, visibility 0.3s linear;

    &--active {
      visibility: visible;
      transform: none;
    }

    &__inner {
      position: relative;
      padding: 16px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-y: auto;
    }

    & .header {
      &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;

        &_link {
          font-size: 20px;
        }

        @media screen and (max-height: 500px) {
          gap: 20px;

          &_link {
            font-size: 16px;
          }
        }
      }
    }
  }

  .header__lang-widget,
  .header-maintenance {
    & .header__lang {
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $black;
      border-radius: 20px;
      height: 32px;
      overflow: hidden;
      display: flex;

      &_sep {
        display: none;
      }

      &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: $white;
        width: 50px;
        height: inherit;
        border-radius: inherit;

        &.active {
          background-clip: unset;
          -webkit-text-fill-color: unset;

          &::before {
            display: none;
          }
        }
      }
    }
  }
}
